<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunilson.pro4">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:name="com.sunilson.pro4.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sunilson.pro4.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddLivetickerActivity"
            android:label="@string/title_activity_add_liveticker"
            android:parentActivityName=".activities.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sunilson.pro4.activities.BaseActivity" />
        </activity>
        <activity
            android:name=".activities.AuthenticationActivity"
            android:label="@string/title_activity_authentication"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LivetickerActivity"
            android:label="@string/title_activity_liveticker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChannelActivity"
            android:label="@string/title_activity_channel"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
    </application>

</manifest>